/Ex1.class
/SetMeUpGame.class
/SetMeUpGame$MarbleColor.class
/SetMeUpGame$TableSize.class
/Game.class
/GamaManager.class
/GameManager.class
/Algorithm.class
/BFS.class
/Algorithms.class
/AlgorithmsProvider.class
/AlgorithmsProvider$Algorithm.class
/GameState.class
/SetMeUpState.class
